$cookieconstent-padding: 1rem 0 !default;
$cookieconstent-space: .5rem 1rem !default;
$cookieconstent-position: fixed !default;
$cookieconstent-background: #ced4da !default;
$cookieconstent-z-index: 9999 !default;
$cookieconstent-width: 100% !default;

$cookieconstent-compliance-padding: .5rem 2rem !default;
$cookieconstent-compliance-color: #fff !default;
$cookieconstent-compliance-background: #237afc !default;
$cookieconstent-compliance-border: 2px solid currentColor !default;
